<div class="settings">

<h1>{{ Title }}</h1>
<h2>{{ Sub-Title }}</h2>
<strong>more info > <a href="{{ Link }}" target="_blank">{{ LinkName }}</a></strong>
<br>
<strong>DSS IVI Wiki > <a href="{{ WikiLink }}" target="_blank">{{ WikiName }}</a></strong>


</div>